<div class="container mt-2">
  <div class="row">
    <h3 class="mt-4 mb-4">
      Task Delete Confirmation
    </h3>

    <div class="card">
      <div class="card-body">
        <h4>Task : {{task.taskTitle}}</h4>
        <h5 class="card-title mt-4 mb-4">
            <strong>Are you sure you want to delete this task?</strong>
        </h5>
        <p class="alert alert-warning">
          Details of '<strong>{{task.taskTitle}}</strong>' will be permanently deleted 
          from the database and cannot be undone once you press 'confirm'
        </p>
      </div>

      <div class="card-footer">
        <button class="btn btn-primary mr-3" (click)="doDelete(false)">
          No! Cancel Operation
        </button>
        
        <button class="btn btn-danger" (click)="doDelete(true)">
            Yes! Confirm Deletion
          </button>  
      </div>
    </div>

  </div>
</div>